# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd

# Xcode / iOS (future)
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Pods/
Carthage/Build/
.swiftpm/
.build/

# Editors
.vscode/
.idea/
*.swp
*~

# OS temp
Thumbs.db
